@using Ijatmy.Shared
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <div class="zbody">
            <div class="antialiased h-screen flex justify-center items-center">
                <div class="block text-white text-center jetmono">
                    404
                </div>
            </div>
        </div>
    </NotFound>
</Router>