@page "/"

<div class="zbody">
    @* <span style="color: white;">@LinkService.GetGuid("github")</span> *@
    @* <input autofocus type="text" @onkeydown="KeyboardEventHandler " @onkeypress=" KeyboardEventHandler " @onkeyup="KeyboardEventHandler "/> *@
    <div class="antialiased h-screen flex justify-center items-center">
        <div class="block text-white text-center jetmono">
            
            <div class="text-4xl">
                ijat.my
            </div>
            <div class="">
                Software Engineer
            </div>
            <div class="text-xs text-gray-500 mt-3">
                C# - Java - C/C++ - PHP - Python - more+
            </div>
            <div class="text-xs text-gray-500">
                Fullstack | IoT | *nix
            </div>
            <div class="mt-3 text-2xl text-gray-500">
                <a href="https://github.com/ijat"><i class="icofont-github"></i></a>
                <a href="https://www.linkedin.com/in/syafiqizzat"><i class="icofont-linkedin"></i></a>
                <a href="https://twitter.com/msyafiqIzzat"><i class="icofont-twitter"></i></a>
                <a href="https://www.facebook.com/ijat325"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/ijatrf/"><i class="icofont-instagram"></i></a>
                <a href="https://steamcommunity.com/id/solRenegade/"><i class="icofont-steam"></i></a>
                <a href="https://steamcommunity.com/id/solRenegade/"><i class="icofont-youtube"></i></a>
                <a href="https://www.last.fm/user/ijat325"><i class="icofont-brand-lastfm"></i></a>
                <a href="https://pgp.circl.lu/pks/lookup?op=vindex&fingerprint=on&search=0x2516AC47291E9485"><i class="icofont-key"></i></a>
            </div>
        </div>
    </div>
    <div class="jetmono fixed bottom-0 w-screen text-xs text-blue-20 text-center text-gray-600 mb-1">
        © 2020 ijat.my
    </div>
</div>  